.class-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    & > section {
        padding: 1rem;
        border: 1px solid #222;

        & > .heading {
            margin: 0;
            margin-bottom: 0.5rem;
        }

        & > ul {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            
            & > li {
                list-style-type: disc;
                list-style-position: inside;
            }
        }
    }

    @media screen and (min-width: 768.1px) {
      grid-template-columns: repeat(3, 1fr);
    }
}